<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Detalhe do Produto - ERP</title>
</head>
<body>
    {% if produto %}
        <h1>Detalhe do Produto</h1>
        <ul>
            <li><b>ID: </b>{{ produto.id }}</li>
            <li><b>Nome: </b>{{ produto.nome }}</li>
            <li><b>Descrição: </b>{{ produto.descricao }}</li>
            <li><b>Preço: </b>{{ produto.preco }}</li>
        </ul>
    {% else %}
        <h1>Produto Inexistente.</h1>
    {% endif %}
</body>
</html>